.bg-wrap {
  position: relative;
  height: 60vh;
  width: 100%;
  overflow: hidden;
  z-index: -1;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  overflow: hidden;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: orange;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
  overflow: hidden;
}

.week-container {
}
@media screen and (max-width: 600px) {
  .logo {
  }
}
