.bg-wrap {
  position: relative;
  height: 80vh;
  width: 100%;
  overflow: hidden;
}

.custom-shadow {
  filter: drop-shadow(8px 8px 16px black)
}

.anchor {
  display: block;
  position: relative;
  top: -80px;
  visibility: none;
}

.anchor-pricing {
  display: block;
  position: relative;
  top: -110px;
  visibility: none;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  overflow: hidden;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
  overflow: hidden;
}

/* src/pages/admin.tsx */
.form-control {
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: rgba(55, 65, 81, 1);
  background-color: white;
  background-clip: padding-box;
  border: 1px solid gray;
  border-radius: 0.25rem;
}

.form-control:focus {
  border: 1px solid blue;
  outline: none;
}


@media screen and (max-width: 600px) {
}
